{% extends 'WaldoSushiBundle::base.html.twig' %}

{% block body %}
<h2>{% trans %}Liste des sushis{% endtrans %}</h2>
<ul>
    {% for sushi in sushiList %}
        <li>
            <h3>{{ sushi.nom }}</h3>
            <span>{{ sushi.description }}</span>
        </li>
    {% endfor %}
</ul>
{% endblock %}
